body {
  height: 100%;
}

.document-library {
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
}

.main-body {
  position: absolute;
  padding: 10px;
  left: 200px;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
  z-index: -1;
}

.top-infobar {
  height: 40px;
  background-color: #F8F8F8;
  color: white;
  box-shadow: 0px 6px 12px #888888;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0px;
  background: white;
  border-radius: 3px;
  padding: 2px;
}

li:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

li {
  padding: 5px;
}


.document-table {
  width: 100%;
}

.document-table.thead {
  border-bottom: 1px solid #CCCCCC;
}

.main-sidebar {
  padding: 10px;
  width: 200px;
  background: #B9B9B9;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.app-container {
  height: 100%;
  width: 100%;
}

.navigation-bar {
  height: 50px;
  background-color: #1E7FBB;
}

.main-body {
  height: 100%;
  background-color: #F3F3F3;
}
